*{
    font-family: "Poppins",sans-serif;

}

body{
    margin:auto;
    box-sizing: border-box;
}
.header-container{
    display: flex;
    justify-content: space-between;
    background-color: green;
}
.header-container h1{
    margin:20px;
    c
}
.logo{
    color: white;
}
.navlinks{
    list-style: none;
    display: inline-flex;
    margin-top: 50px;
}
@media screen and (max-width: 600px){
    .navlinks{
        display:flex;
        flex-direction: column;
    }
    .navlinks li{
        margin-bottom:5px;
    }
    .header-container{
        height:30vh;
    }
    .goals{
        height:40vh;
    }
    .goals-list{
        font-size:10px;
    }

}
.navlinks li{
    padding:0px 150px;
}
.navlinks a{
    color:white;
    text-decoration: none;
}
.pagewrapper{
    display:flex;
    justify-content: center;
    align-items:center;
    height:30vh;
    margin: 50px;
}
.image{
    margin-right:100px;
    border:solid black 10px;
    width: 200px;
}
.goals{
    background:green;
    border:solid black 10px;
    padding:5px 10px;
}
.contactwrapper{
    display:flex;
    justify-content:center;
    align-items:center;
    margin-top:50px;
}
.button{
    background-color:green;
    border: solid black 3px;
    border-radius:5px;
    margin-left:20px;
}
.button a{
    color:white;
    text-decoration:none;
    padding:10px 10px;
}
.footer-container{
    background-color: green;
    justify-content: space-around;
    align-items:center;
    height:20vh;
    margin-top:50px;
    display:flex;
    color:white;
}
.experiencewrapper{
    display:flex;
    margin-top:50px;
    margin-bottom:50px;
}
.work1{
    border:solid black 10px;
    margin-right:50px;
    background-color: green;
    color:white;
}
.work2{
    border:solid black 10px;
    background-color: green;
    color:white;
}


